.header {
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 3rem 3.5rem 3rem;
}
.logo {
  height: 1.8rem;
  width: 5rem;
}

.close {
  height: 1.3rem;
  /* width: 100px; */
}
