.navbar-links {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.navbar-links > p::focus,
.navbar-links > p::hover {
  color: var(--navy-blue);
}

.navbar-links > img {
  height: 20px;
  width: 20px;
  margin-right: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.navbar-links > p {
  color: var(--nevada);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}
